@import "tailwindcss";
@import "basecoat-css";

/* Your custom styles can go here */
@import "./theme.css";
@import "./custom.css";

@theme inline {
    --radius-sm: 0rem;
    --radius-md: 0rem;
    --radius-lg: 0rem;
    --radius-xl: 0rem;
}
