:root {
    --background: oklch(0.9818 0.0076 7.2814);
    --foreground: oklch(0.2727 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2727 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2727 0 0);
    --primary: oklch(0.5185 0.0969 3.9463);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.879 0.0239 4.5475);
    --secondary-foreground: oklch(0.2727 0 0);
    --muted: oklch(0.941 0.0133 5.813);
    --muted-foreground: oklch(0.4495 0 0);
    --accent: oklch(0.9212 0.0112 3.5118);
    --accent-foreground: oklch(0.2727 0 0);
    --destructive: oklch(0.5308 0.2178 29.2339);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8679 0.0136 5.8518);
    --input: oklch(0.9212 0.0112 3.5118);
    --ring: oklch(0.5185 0.0969 3.9463);
    --chart-1: oklch(0.5185 0.0969 3.9463);
    --chart-2: oklch(0.6165 0.1016 4.8174);
    --chart-3: oklch(0.4395 0.0961 5.1637);
    --chart-4: oklch(0.365 0.0681 5.768);
    --chart-5: oklch(0.6676 0.0863 5.2804);
    --sidebar: oklch(0.9818 0.0076 7.2814);
    --sidebar-foreground: oklch(0.2727 0 0);
    --sidebar-primary: oklch(0.5185 0.0969 3.9463);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9212 0.0112 3.5118);
    --sidebar-accent-foreground: oklch(0.2727 0 0);
    --sidebar-border: oklch(0.8679 0.0136 5.8518);
    --sidebar-ring: oklch(0.5185 0.0969 3.9463);
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0rem;
    --shadow-x: 0;
    --shadow-y: 0;
    --shadow-blur: 0;
    --shadow-spread: 0;
    --shadow-opacity: 0;
    --shadow-color: #000000;
    --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0);
    --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0);
    --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow: 0 0 0 0 hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2072 0.0197 314.3637);
    --foreground: oklch(0.9292 0.0176 355.1285);
    --card: oklch(0.2503 0.021 333.199);
    --card-foreground: oklch(0.9292 0.0176 355.1285);
    --popover: oklch(0.2503 0.021 333.199);
    --popover-foreground: oklch(0.9292 0.0176 355.1285);
    --primary: oklch(0.5185 0.0969 3.9463);
    --primary-foreground: oklch(0.9936 0.0034 354.6882);
    --secondary: oklch(0.3173 0.0354 342.608);
    --secondary-foreground: oklch(0.9292 0.0176 355.1285);
    --muted: oklch(0.2693 0.0229 338.8967);
    --muted-foreground: oklch(0.7813 0.0312 354.0908);
    --accent: oklch(0.3121 0.0245 343.3508);
    --accent-foreground: oklch(0.9292 0.0176 355.1285);
    --destructive: oklch(0.6122 0.2082 22.241);
    --destructive-foreground: oklch(0.9936 0.0034 354.6882);
    --border: oklch(0.3623 0.0331 340.6574);
    --input: oklch(0.3173 0.0354 342.608);
    --ring: oklch(0.5185 0.0969 3.9463);
    --chart-1: oklch(0.5185 0.0969 3.9463);
    --chart-2: oklch(0.6676 0.0863 5.2804);
    --chart-3: oklch(0.4395 0.0961 5.1637);
    --chart-4: oklch(0.365 0.0681 5.768);
    --chart-5: oklch(0.6165 0.1016 4.8174);
    --sidebar: oklch(0.2072 0.0197 314.3637);
    --sidebar-foreground: oklch(0.9292 0.0176 355.1285);
    --sidebar-primary: oklch(0.5185 0.0969 3.9463);
    --sidebar-primary-foreground: oklch(0.9936 0.0034 354.6882);
    --sidebar-accent: oklch(0.3121 0.0245 343.3508);
    --sidebar-accent-foreground: oklch(0.9292 0.0176 355.1285);
    --sidebar-border: oklch(0.3623 0.0331 340.6574);
    --sidebar-ring: oklch(0.5185 0.0969 3.9463);
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0rem;
    --shadow-x: 0;
    --shadow-y: 0;
    --shadow-blur: 0;
    --shadow-spread: 0;
    --shadow-opacity: 0;
    --shadow-color: #000000;
    --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0);
    --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0);
    --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow: 0 0 0 0 hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

/* https://tweakcn.com/themes/cmi3c55hr000504l2hhejcxxd */
